@import "font.css";
@import "education_screen.css";
@import "game.css";
body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #021A0C;
}
.screen {
    padding: 55px 90px 55px 90px;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.screen h1 {
    text-align: center;
}
h1 + h2 {
    text-align: center;
}
h1, h2,p,button {
    text-shadow: 0px 0px 14px #B8EC49;
}
.top_lines{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10000;
    overflow: hidden;
    pointer-events: none;
}
.top_lines div {
    width: 100%;
    height:1vh;
    background-color:#0A0A0A ;
    opacity: .15;
    margin-bottom: 1vh;
}
.top_img {
    width: 40vw;
    height: 40vw;
    z-index:10000;
    position: absolute;
    margin-left: 30vw;
    margin-top: calc((100vh - 40vw)/2);
    pointer-events: none;
}
button {
    background-color: #021A0C;
    height: 7vh;
    width:100%;
    border: 6px solid #021A0C ;
    margin-top:50px;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
}
button + button {
    margin-top: 0px;
}
button:hover {
    border: 6px solid #B8EC49 ;
    background-color: #1C3816;
}
button  p {
    margin-left: 30px;
    margin-top: -23px ;
}
::placeholder {
    color: #6A922F ;
}
input[type="text"] {
    visibility: hidden;
    width: calc(100% - 30px);
    height: 52px ;
    border: 6px solid #B8EC49 ;
    background-color: #1C3816;
    margin-top: 1.5vh;
    font-size: 22px;
    font-family:  'Press Start 2P', cursive;
    padding-left: 20px;
    color: #B8EC49;
    animation: longer_input ;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: both;
}
input[type="text"]:focus {
    outline: none;
    color: #B8EC49;
}
.tip { 
    width: 40px;
    height: 40px;
    background-color: #B8EC49;
    color: #021A0C;
    font-family: 'Press Start 2P', cursive;
    font-size: 27px;
    line-height: 29px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 2px;
    box-shadow: 0px 0px 14px #B8EC49;;
}
