/* ОБУЧЕНИЕ МЕНЮ */
.menu_educ {
    width: 80px;
    height: 100vh ;
    float: right;
    border-right: 6px solid #B8EC49
}
.menu_block_active {
    width: 80px;
    height: calc(25vh-10px);
    background: #142F12 ;
    border-right:  6px solid #B8EC49 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_block_active_educ {
    width: 80px;
    height: 37vh;
    background: #142F12 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_block_disactive {
    width: 90px;
    height: 25vh;
    border:  6px solid #B8EC49;
    visibility: hidden;
}
.menu_educ h2 {
    transform: rotate(90deg);
}
.menu_educ p {
    transform: rotate(90deg);
}
